.board {
    width: 625px;
}

.game-square {
    width: 200px;
    height: 165px;
    background-color: #3890c7;
    float: left;
    border: 2px solid #14537a;
    font-size: 100px;
    text-align: center;
    padding-top: 35px;
    cursor: pointer;
}

.game-square.x {
    background-color: #e38a31;
}

.game-square.o {
    background-color: #e6e14a;
}

div[state="win"] {
    border: 5px solid black;
    width: 194px;
    height: 159px;    
}
