#play-again {
    margin-top: -140px;
    margin-left: -380px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background-color: greenyellow;
    border: 3px solid green;
    float: left;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 10px;
    padding-top: 15px;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#play-again:hover {
    background-color: #89e200;
}

.board {
    width: 625px;
}

.game-square {
    width: 200px;
    height: 165px;
    background-color: #3890c7;
    float: left;
    border: 2px solid #14537a;
    font-size: 100px;
    text-align: center;
    padding-top: 35px;
    cursor: pointer;
}

.game-square.x {
    background-color: #e38a31;
}

.game-square.o {
    background-color: #e6e14a;
}

div[state="win"] {
    border: 5px solid black;
    width: 194px;
    height: 159px;    
}
